@model FreeForum.ViewModels.Post.PostDetaileModel

<h1 class="display-4">Welcome to @Model.Title discussion!</h1>
<div>
    Author: @Model.AuthorName
    Created: @Model.Created
</div>
<div>
    @Model.PostContent
</div>
@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div>
            <div>
                Reply Author: @reply.AuthorName
                Reply Created: @reply.Created
            </div>
            <div>
                Reply: @reply.ReplyContent
            </div>
        </div>
    }
}
else
{
    <p>We have no replies yet.. Want to add one?</p>
}