@model FreeForum.ViewModels.Reply.ReplyEditModel

<div class="container">
    <p>
        <a asp-controller="Post"
           asp-action="PostDetaile"
           asp-route-id="@Model.PostId"
           class="btn btn-outline-dark">
            Return to '@Model.PostTitle' discussion
        </a>
    </p>
    <h3>Edit Reply on '@Model.PostTitle'</h3>
    <p>@Model.PostContent</p>
    <p><mark>Old reply: @Model.ContentToEdit</mark></p>
    <form asp-action="AddEditedReply" method="post">
        <textarea asp-for="EditedContent" rows="6" class="form-control" placeholder="New reply"></textarea>
        <span asp-validation-for="EditedContent"></span>
        <button type="submit" class="btn btn-warning">Edit Reply</button>
        <input asp-for="ReplyId" type="hidden" />
        <input asp-for="PostId" type="hidden" />
    </form>
</div>
