@model FreeForum.ViewModels.Post.PostDetaileModel

<div class="container">
    <h1 class="display-4">Welcome to '@Model.Title' discussion!</h1>
    <div>
        <p><mark>✏ @Model.PostContent</mark></p>
    </div>
    <div>
        <p class="font-weight-light">🤩 @Model.AuthorName ⌚ @Model.Created</p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <p id="">
            <a asp-controller="Reply"
               asp-action="CreateReply"
               asp-route-id="@Model.Id"
               class="btn btn-warning">
                Reply on a post
            </a>
        </p>
    }
    else
    {
        <p>
            <a style="text-decoration: none;" asp-controller="Account" asp-action="Login" class="btn btn-warning">
                You can comment this post in case you are authenticated
            </a>
        </p>
    }
    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <table class="table table-hover col-sm-12">
                <tbody>
                    <tr>
                        <td class="col-sm-8">
                            <div>
                                @reply.ReplyContent
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <p class="font-weight-light font-italic"><small>@reply.AuthorName @reply.Created</small></p>
                        </td>
                        <td class="col-sm-2">
                            @if (User.Identity.IsAuthenticated && reply.AuthorId == Model.CurrentLoggedInUserId)
                            {
                                <p id="">
                                    <a asp-controller="Reply"
                                       asp-action="EditReply"
                                       asp-route-id="@reply.Id"
                                       class="btn btn-warning">
                                        Edit
                                    </a>
                                </p>
                            }
                            else if(User.Identity.IsAuthenticated && reply.AuthorId != Model.CurrentLoggedInUserId)
                            {
                                <p id="">
                                    <a 
                                       class="btn btn-success">
                                        Like
                                    </a>
                                </p>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        <p>This post doesn't have any replies yet.. Want to add one?</p>
    }
</div>

