@{
    ViewData["Title"] = "Home Page";
}

@model FreeForum.ViewModels.Post.PostIndexModel

<div class="container">
     <div class="row">
         <h1 class="display-4">Welcome to FreeForum!</h1>
     </div>
     <div class="row">
         @if (User.Identity.IsAuthenticated)
         {
             <p>
                 <a asp-controller="Post"
                    asp-action="CreatePost"
                    class="btn btn-danger">
                    ✏ Create Post
                 </a>
             </p>
         }
         else
         {
             <p>
                 <a style="text-decoration: none;"
                    asp-controller="Account"
                    asp-action="Login">
                     👁️‍🗨️ To create a new post you have to be authenticated
                 </a>
             </p>
         }
     </div>
    @if (Model.PostList.Any())
    {
        @foreach (var post in Model.PostList)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <a style="text-decoration: none;"
                           asp-controller="Post"
                           asp-action="PostDetaile"
                           asp-route-id="@post.Id"
                           class="btn btn-block btn-warning">
                            @post.Title
                        </a>
                    </div>
                    <div class="row">
                        @post.Content
                    </div>
                    <div class="row d-flex justify-content-between">
                        <p class="font-weight-light"><small>🤩 @post.UserName ⌚ @post.DateCreated</small></p>
                        <p>@post.RepliesCount 💬</p>
                    </div>
                </div>
            </div><br>
        }
    }
    else
    {
        <p>We have no posts yet...</p>
    }
</div>




